.DS_Store
Library/
Temp/
_temp/
_temp.meta
CMakeFiles/
CMakeCache.txt
.idea/
.vscode/
UserSettings/
*_tmp/
*_tmp.meta
*.blob

*.sln
*.csproj
*.sln.DotSettings.user
obj/
.cmake/
.vs/
.vsconfig
Build/
Packages/packages-lock.json
Logs/
*.user
~$*.xlsx
~$*.xlsx.meta
log.txt
Assets/StreamingAssets/AssetBundles*
Assets/StreamingAssets/config.json*
*.log
Temp.meta
.gitLab
.gitHub

